*{
	margin: 0px;
	border: 0;
	bottom: 0;
}
body {
	font-family: Tahoma, Arial, sans-serif;
}
p {
    margin-top: 0.5em; 
    margin-bottom: 1em; 
   }
.font{
	font-weight: bold;
}

.fullwrap{
	margin: auto;
	background: #d1d1d1;
	width: 760px;	
}

.wrap{
	padding: 60px;
}
.header{
	display: block;
	width: 640px;
}
.main{
	overflow: hidden;  	
	padding: 50px;
    background: #ffffff;
}
.box1{	
	width: 265px;
	margin-top: 15px;
	float: left;
}
.box2{
	width: 265px;
	margin-top: 15px;
	float: right;
}
.imgbox1{
    width: 256px;
	height: 213px;
}
.Enroll{
	width: 265px;
	height: 32px;
	background: #cf5b4e;
	color: #ffffff;
	border-radius: 5px;
	margin-top: 25px;
	font-weight: bold;
	margin-bottom: 25px;
}
.box3{
	position: relative;
	width: 160px;
	height: 340px;
	float: left;

}
.box4{
    position: relative;
	height: 340px;
	width: 160px;
	margin-left:30px;
	float: left;
}
.box5{
	position: relative;
	height: 340px;
	width: 160px;
	float: right;
}
.img{
	width: 160px;
	height: 213px;
}
.miniEnroll{
	position: absolute;
	width: 160px;
	height: 30px;
	background: #cf5b4e;
	color: #ffffff;
	border-radius: 5px;
	margin-top: 15px;
	font-weight: bold;
}
.footer{
	width: 530px;
	height: 180px;
	margin-top: 
}
.footerEnroll{
	width: 530px;
	height: 35px;
	background: #cf5b4e;
	color: #ffffff;
	border-radius: 5px;
	margin-top: 15px;
	font-weight: bold;
}